@page
@model DJValeting.Pages.Booking.IndexModel
@{
    ViewData["Title"] = "Bookings";
}

<h1>Bookings</h1>

<p>
    <a asp-page="/Booking/Create">Create new booking</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Booking Date
            </th>
            <th>
                Flexibility
            </th>
            <th>
                Vehicle Size
            </th>
            <th>
                Contact Number
            </th>
            <th>
                Email
            </th>
            <th>
                Actions
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Bookings)
        {
            <tr class="@item.Status">
                <td>
                    @item.Name
                </td>
                <td>
                    @item.BookingDate
                </td>
                <td>
                    @item.Flexibility.Description
                </td>
                <td>
                    @item.VehicleSize.Description
                </td>
                <td>
                    @item.ContactNumber
                </td>
                <td>
                    @item.Email
                </td>
                <td>
                    <a asp-page="./Approve" asp-route-id="@item.Id">Approve</a> | @*ver como mudar a cor css*@
                    <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>